# Build artifacts
*.bin
*.exe
webos_server
out/

# C/C++ / Odin temporary files
*.o
*.obj
*.so
*.dll
*.dylib

# Logs and Crash Dumps
*.log
core
*.core
vgcore.*
*.dmp

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store
*~

# Frontend
node_modules/
dist/
.env
